<div>
  <p>Receiving: <%= @gift.user.username %></p>
  <p>How much I'm spending <%= @gift.item.price %></p>
  <p>How good I think it is <%= @gift.rating %></p>
</div>



<%= link_to "Go to User", @gift.user %>
