<form action="/books" method="post">
    <input type="text" name="name" placeholder="Name" />
    <input type="text" name="description" placeholder="Description" />
    <select name="author_id">
      <% @authors.all.each do |author| %>
        <option value="<%= author.id %>"><%= author.name %></option>
      <% end %>
    </select>
    <input type="submit" value="Create Books"/>
</form>
