<form action="/books" method="post">
    <input type="text" name="name" placeholder="Name" />
    <input type="text" name="description" placeholder="Description" />
    <input type="submit" value="Create Books"/>
</form>
